# Server Configuration
PORT=3000
REDIRECT_URI=https://infortunately-unmunched-madelynn.ngrok-free.dev/auth

# API Configuration
API_VERSION=2024-01
SCOPES=read_products,write_products,read_orders,write_orders

